:root {
    --hover-color: rgb(1, 194, 153);
    --dark1: rgb(5, 102, 141);
    --dark2: rgb(2, 128, 144);
    --middle: rgb(0, 168, 150);
    --light1: rgb(2, 195, 154);
    --light2: rgb(240, 243, 189);
    --h1: rgb(0, 167, 149);
    --h4: rgb(0, 167, 149);
    --button1: rgb(72, 211, 181);
    --button2: rgb(71, 192, 179);
    --button3: rgb(72, 163, 174);
    --aboutbg: rgb(245, 246, 211);
}

body {
    margin: auto;
    font-family: 'Open Sans', sans-serif;
    height: 100%;
}

ul {
    margin: 0px;
    padding: 0px;
    width: 100%;
}

.container {
    //position: relative;
    margin: 0px;
   // padding: 110px 0px 0px 0px;
    width: 100%;
    min-height: 100%;
    line-height: 1.5;
    font-size: 18px;
    text-align: center;
    content: center;
    //justify-content: center;
}

.edit-op {
    //position: relative;
    margin: 0px;
   // padding: 110px 0px 0px 0px;
    width: 50%;
    min-height: 100%;
    line-height: 1.5;
    font-size: 18px;
    //text-align: center;
    //content: center;
    //justify-content: center;
}

.menu {
text-align:center;
}

.menu ul {
display:inline-table;
}

.login-buttons a:link{
  text-decoration: none;
}

.login-buttons {
    font-family: 'Open Sans', sans-serif;
    color: white;
    margin: auto;
    padding: 10px;
    height: 100%;
    //height: 50px;
    width: 300px;
    //width: 100%;
    min-height: 50px;
    display: block;
    margin-bottom: 20px;
    text-decoration: none;
    border: 0px solid;
    border-radius: 10px;
    opacity: 0.9;
    font-size: 25px;
}

.button1 {
    background-color: var(--button1);
    display: table;
    height: 50px;
    //vertical-align: middle;
}

.button2 {
    background-color: var(--button2);
    display: table;
    height: 50px;
}

.content {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

.button3 {
    background-color: var(--button3);
    //display: table-cell;
    vertical-align: middle;
}

.background {
    position: fixed;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: url(https://blog.telnetww.com/hubfs/How-Unified-Communications-Improves-Collaboration.gif) no-repeat center center fixed;
    -webkit-background-size: auto 100%;
    -moz-background-size: auto 100%;
    -o-background-size: auto 100% ;
    background-size: auto 100%;
    padding-right: 190px;
    margin-left: -20px;
    margin-top: -20px;
 //   margin-right: -60px;
    opacity: 0.5;
    padding-bottom: 100px;
    top:0;
}

.container2 {
    background-color: white;
    padding-top: 90px;
    padding-bottom: 100px;
    width: 100%;
    //margin: 0px -16px 0px -16px;
}


.container2 p {
    margin: auto;
    padding: 10px 10px 10px 10px;
    display: block;
    background-color: var(--aboutbg);
    width: 70%;
    font-size: 15px;
    line-height: 1.5;
}

.giant {
    padding-top: 5%;
    //padding-left: 2%;
    color: var(--dark1);
    margin: auto;
    font-size: 100px;
}

h2 {
    color: var(--dark1);
    font-size: 50px;
}

h3 {
    font-size: 30px;
}


h4 {
    color: var(--dark1);
}
