<!DOCTYPE html>
<html>
<body>
  <div class="container">

<!-- FIXME Repair links  <h1>Manage Interest Tags</h1>-->
    <%#= select(:user, :tag, Tag.all.collect {|t| [t.tag, t.tag]}, {}, {:multiple => true, :style => "width: 150px; height: 400px; font-size: 18px; text-align: center;"}) %>
    <%#= button_to "Update Tags", {action: "add_tags"}, :method => :put %>
  </div>
</body>
</html>
