<h1>New Opportunity</h1>
<div style="text-align: center;">
  <div style="display: inline-block; text-align: left;">
    <% unless current_user.admin %>
      <%= render 'form', opportunity: @opportunity %>
    <% else %>
      <h1>You must be lost. You don't have access to this page.</h1>
    <% end %>
    <div class="styledButton">
      <%= link_to 'Back', opportunities_path %>
    </div>
  </div>
</div>
